.item-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;

    .img-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        width: 30rem;
        height: 30rem;
        border-radius: 10px;
        margin-right: 2rem;

        img {
            width: 25rem;
            height: auto;
        }
    }

    .line {
        align-self: center;
        margin-left: 0;
        margin-right: 5rem;
        height: 25rem;
        width: 1px;
        background-color: gray;
        opacity: 0.3;
    }

    .content-detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 30rem;


        .info-detail {
            margin-bottom: 3rem;

            .title-detail {
                font-size: 2.5rem;
                margin: 0 0 2rem;
            }
    
            p {
                font-size: 1.2rem;
            }
    
            .precio-detail {
                color: $green-raise;
                font-size: 2rem;
                font-weight: 600;
            }
        }

        .cta-detail {
            height: 3rem;
        }
    }
}