.checkout {
    margin: 5rem auto;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    .checkout-content {
        position: relative;
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 10px;
        padding: 2rem;

        .header {
            text-align: center;
            h5 {
                font-size: 1.5rem;
                margin: 0.5rem 0 2rem;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 0 auto 4rem;
            width: 42.5%;

            .field {
                width: 40%;   
                margin: 0; 

                label {
                    line-height: 3rem;
                    margin-right: 1rem;
                }
    
                input {
                    border: none;
                    border-bottom: 1px solid $black-raise;
                    width: 400px;
                    height: 30px;
                    font-size: 1rem;

                    &:visited {
                        background-color: white;
                    }
                }
            }
        }

        .botones {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
        }
    }

    .popup-children {
        text-align: center;

        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}