.nav {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container-logo {

        img {
            width: 150px;
        }
    }

    .nav-ul {
        display: flex;
        list-style: none;
    
        .nav-li {
            .a {
                color: $black-raise;
                text-decoration: none;
                padding: 12px 32px;
                font-weight: 400;
            }
        }
    }
}